---
title: Clavis Search (beta)
layout: default
permalink: search/
search_symbols: ["=word","'word","!word","^word","word$"]
search_meaning: [exactly, includes, not includes, begins with, ends with]
---

<form id="search-form">
  <div class="columns">
    <div class="column is-2-widescreen is-3-tablet has-background-white-ter is-hidden-mobile">
      <table class="table is-narrow is-fullwidth has-background-white-ter">
        <tr>
            <th colspan="2">
            <small>Reference:</small>
          </th>
        </tr>
        {% for symbol in page.search_symbols %}
        <tr>
          <td class="has-text-right">
            <small>
              <code>{{ symbol }}</code>
            </small>
          </td>
          <td>
            <small>{{ page.search_meaning[forloop.index0] }}</small>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="column is-10-widescreen is-9-tablet has-background-white-ter">
      
        <div class="field mb-3">
          <div class="control">
            <input id="title" class="input" type="text" placeholder="Title" />
          </div>
        </div>
      
        <div class="field mb-3">
          <div class="control">
            <textarea id="text" class="textarea" placeholder="Text (currently unavailable)" disabled rows="3"></textarea>
          </div>
        </div>

        <div class="field has-addons is-pulled-left">
          <div class="control">
            <input id="max" class="input" type="number" style="width: 5em;" value="{{ site.works_per_page }}" min="1" max="150" />
          </div>
          <div class="control">
            <a class="button is-static">max results</a>
          </div>
        </div>

        <div class="buttons is-right">
          <button class="button is-primary" type="submit">Search</button>
          <button class="button is-warning" type="reset">Clear</button>
        </div>

    </div>
  </div>

  <div class="columns">
    <div class="column is-2-widescreen is-3-tablet has-background-white-ter is-hidden-mobile">

      <div class="field mb-3">
        <label class="label">Keywords</label>
        <div class="control">
          <div class="select is-multiple">
            <select id="keywords" multiple size="5">
              {% for keyword in site.data.keywords %}
              <option value="{{ keyword }}">{{ keyword | uncamelize }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="buttons is-right">
        <button id="reset" class="button is-warning is-small" type="button">Reset</button>
      </div>

    </div>
    <div class="column is-10-widescreen is-9-tablet">
      <table id="results" class="table"></table>
    </div>
  </div>
</form>

<script src="{{ '/assets/scripts/jquery/jquery-3.7.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/scripts/fuse/dist/fuse.min.js' | relative_url }}"></script>
<script>
$(document).ready(function() {

  $.getJSON('/work-index.json', function( data ) {

    const fuse = new Fuse(data, {
      useExtendedSearch: true,
      //includeMatches: true,
      shouldSort: true,
      keys: ['searchable_titles', 'keywords']
    });

    $('#search-form').on('reset', function() {
      $('table#results').empty();
    });

    $('#search-form button#reset').on('click', function() {
      $('select#keywords').val('');
      $('#search-form').submit();
    });

    $('select#keywords').on('change', function() {
      $('#search-form').submit();
    });

    $('#search-form').on('submit', function() {

      $('table#results').empty();

      var query = []
      const title = $('input#title').val();
      if (title.trim().length) query.push({ searchable_titles: title });
      query = query.concat( $('select#keywords').val().map((k) => ({ keywords: '='+k })) );

      console.log(query);
      
      const results = fuse.search({ $and: query });

      console.log(results);

      var max = parseInt($('input#max').val());
      if (isNaN(max)) max = parseInt("{{ site.works_per_page }}");
      else if (max < 1) max = 1;
      else if (max > 150) max = 150;
      
      results.slice(0, max).forEach(result => {
        $('table#results').append(`
          <tbody>
            <tr>
              <td>
                <a href="/${result.item.url}">CAe&nbsp;<b>${result.item.clavis}</b></a>
              </td>
              <td>
                <a href="/${result.item.url}">${Object.values(result.item.titles[0]).join(', ')}</a>
              </td>
            </tr>
          </tbody>
        `);
      });

      return false;

    });

  });

});
</script>