<nav class="navbar is-primary">
  <div class="container">
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{% link index.html %}">Clavis</a>{% comment %}
        <a class="navbar-item">Manuscripts</a>{% endcomment %}
        <a class="navbar-item" href="{% link search.html %}">Search</a>
      </div>
    </div>
  </div>
</nav>

<section class="hero is-primary is-small">
  <div class="hero-body container">
    <a href="{% link index.html %}"><h1 class="title is-2">{{ site.title }}</h1></a>
    {% if page.title %}<h2 class="subtitle is-4">{{ page.title }}</h2>{% endif %}
  </div>
</section>