---
layout: default
---

{% assign works = page.works %}

{% if page.keyword %}
{% assign works = site.data.works | where_exp: "work", "work.keywords contains page.keyword" | sort: "clavis" %}
{% endif %}

<div class="level">

  <div clas="level-item">
    <form id="lookup">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="number" max="{{ site.data.works.last.clavis }}" placeholder="CAe #" style="width: 5.25em;">
        </div>
        <div class="control">
          <button class="button is-link" type="submit">Lookup</button>
        </div>
      </div>
    </form>
  </div>

  <div class="level-item">
    {% include pagination.html pagination=page.pagination %}
  </div>

  <div clas="level-item">
    <form id="goto">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="number" min="1" max="{{ page.pagination.last }}" placeholder="Page #" style="width: 5em;">
        </div>
        <div class="control">
          <button class="button is-link" type="submit">Go</button>
        </div>
      </div>
    </form>
  </div>

</div>

<table class="table is-fullwidth mt-4 mb-4">
  <thead>
    <tr>
      <th>Identifiers</th>
      <th>Primary Title</th>
    </tr>
  </thead>
  {% for work in works %}
  <tbody>
    <tr>
      <td rowspan="2">
        <a href="{{ work.url | relative_url }}">CAe&nbsp;<b>{{ work.clavis }}</b></a>
        <br>
        <small><b>BM/</b>{{ work.betmas }}</small>
      </td>
      <td>
        <a href="{{ work.url | relative_url }}">{{ work.titles | join }}</a>
      </td>
    </tr>
    <tr>
      <td>
        {% if work.keywords.size > 0 %}
        <small>Keywords:</small>
        {% for keyword in work.keywords %}
        <a href="{{ '/keywords/' | append: keyword | replace: ' ' , ''| downcase | relative_url }}">{{ keyword }}</a>{% unless forloop.last %},{% endunless %}
        {% endfor %}
        {% endif %}
      </td>
    </tr>
  </tbody>
  {% endfor %}
  <tfoot>
    <tr>
      <th>Identifiers</th>
      <th>Primary Title</th>
    </tr>
  </tfoot>
</table>

{% include pagination.html pagination=page.pagination %}

<script>
document.getElementById('lookup').addEventListener('submit', e => {
  e.preventDefault();
  const CAe = document.querySelector('#lookup input').value.padStart(4, '0');
  window.location = `/works/${CAe}/`;
});

document.getElementById('goto').addEventListener('submit', e => {
  e.preventDefault();
  const page = document.querySelector('#goto input').value;
  window.location = `/page/${page}/`;
});
</script>